/* ************************************************************************** */
/*                                                                            */
/*                                                        :::      ::::::::   */
/*   style-montage.css                                  :+:      :+:    :+:   */
/*                                                    +:+ +:+         +:+     */
/*   By: mdalil <mdalil@student.42.fr>              +#+  +:+       +#+        */
/*                                                +#+#+#+#+#+   +#+           */
/*   Created: 2019/06/08 00:41:20 by mdalil            #+#    #+#             */
/*   Updated: 2019/08/08 22:51:36 by mdalil           ###   ########.fr       */
/*                                                                            */
/* ************************************************************************** */

#video-container
{
	position: relative;
	width: 90%;
	max-width: 640px;
	margin: 0 auto;
	text-align: center;
}

#video-container > #actual-element 
{
	width: 64vw;
	height: 48vw;
	max-width: 100%;
	max-height: 480px;
	object-fit: fill;
}

#video-container > #filter
{
	position: absolute;
	width: 64vw;
	height: 48vw;
	max-width: 100%;
	max-height: 480px;
	top: 0;
	transform: translateX(-100%);
	object-fit: fill;
	border: 0;
	margin: 0 auto;
}

#choice-bar
{
	width: 80%;
	margin: 0 auto;
	
}

#choice-bar > form
{
	display: flex;
}

#choice-bar > form > input
{
	flex: 1;
	height: 30px;
	transition: 0.4s;
}

#choice-bar > form > input:hover
{
	background: rgb(255,255,255);
}

#choice-bar > form > input[type=file]
{
	display: none;
}

#filter-bar
{
	margin: 0 auto;
	width: 80%;
	display: flex;
	flex-wrap: wrap;
}

#filter-contain
{
	flex: 1 1 25%;
}

#filter-contain img
{
	width: 100%;
	margin: 0 auto;
	background: white;
	transition: all 0.2s;
}

#filter-contain img:hover
{
	filter: grayscale(100%) brightness(40%) sepia(100%) hue-rotate(-50deg) saturate(600%) contrast(0.8);
	transition: all 0.2s;
}

.filter-selected
{
	filter: grayscale(100%) brightness(30%) sepia(100%) hue-rotate(-180deg) saturate(700%) contrast(0.8);
}

@media only screen and (max-width: 600px)
{
	#choice-bar > form
	{
		flex-direction: column;
		height: 90px;
	}
	#filter-bar
	{
		width: 40%;
		flex-direction: column;
	}
}